*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.unselectable {
    cursor: default;
}

p {
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
    display: inline;
    color: #000;
}


body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.231;
    background: #f8f8f8;
    font-family: segoe ui, lucida grande, Arial, sans-serif;
    color: #000;
    height: 100%;
}

#header {
    height: 46px;
    background-color: #6fb7ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    vertical-align: auto;
    display: inline-block;
}

#nav {
    display: inline-table;
}

#nav>li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li a{
    color: #000;
    text-decoration: none;
    line-height: 46px;
    font-size: 10px;
    padding:0 12px;
    text-transform: uppercase;
    display: block;
}

#nav .subnav{
    position: absolute;
}

#nav , .subnav {
    list-style-type: none;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    border-left: 4px solid #1ba94c;
    white-space: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 18px;
}

#user-link {
    top: 0;
    right: 0;
    position: absolute;
}

#user-link a{
    color: #fff;
    text-decoration: none;
    display: inline;
    text-decoration: none;
    line-height: 46px;
    font-size: 10px;
    padding:0 12px;
    text-transform: uppercase;
}

/* content */

#content {
    margin: 6em auto auto;
    width: 90%;
    height: 100%;
    min-height: 24em;
    display: block;
}

#content-body {
    padding-bottom: 4em;
}

/* slidebox */

.slide-box h3{
    margin: 0 -5px;
    background: #231f20;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    font-size: 1.3em;
}

h3 {
    font-weight: 400;
    font-size: 1.4em;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

.slide-box .ti-info {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    float: right;
    color: #fff;
    margin: 4px;
}

.slidebox-content {
    border: 1px solid #ccc;
    border-top: none;
    margin: 0 -5px;
}

/* blog */

#blog-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tabs {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0 0 8px;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabs>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.tabs>ul>li {
    position: relative;
    display: inline-block;
} 

.tabs>ul>li>a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
}

.time {
    color: #231f20;
}

.ti-fw {
    width: 1.28571429em;
    text-align: center;
}

.blog-content {
    flex: 70%;
}

.blog-content .post .blog-body {
    border-left: 4px solid grey;
    margin: 1em 0;
    padding-left: 1em;
    padding-bottom: .25em;
}

.content-description {
    line-height: 1.5em;
    font-size: 1em;
}
.content-description p{
    margin: 1em 0 !important;
    padding: 0 !important;
}

.blog-body ul {
    padding: 0 0 0 2em;
}

.blog-content .meta {
    margin: 1em 0 1.5em;
    padding: .25em .5em;
    border: 2px solid grey;
    border-radius: 4px;
}

#blog-container .blog-content .blog-body{
    color: #231f20;
}

#blog-container .blog-event {
    flex: 26%;
    display: block;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    background: rgba(0, 0, 0, .01);
    backdrop-filter: blur(3px);
}

.table th {
    height: 2em;
    color: #fff;
    background-color: #231f20;
    border-color: gray;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    padding: 4px 10px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 1.1em;
}

td.user-name, td.personal-info, td.organization-name {
    padding-left: 1em;
    text-align: left;
}

.table td {
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    padding: 7px 5px;
    vertical-align: middle;
    text-align: center;
}

.users-table th.username {
    width: 100%;
}

.users-table th.rank, .users-table th.points, .users-table th.problems, .users-table th.username {
    white-space: nowrap;
}